.nav-container {
	background-color: #1d3940;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-right: 40px;
	height: 80px;
}

.header-ulNav {
	display: flex;
	list-style: none;
	font-size: 18px;
	color: aliceblue;
	gap: 30px;
	font-family: "Cormorant Garamond", serif;
	a {
		color: aliceblue;
	
	}
}

.logo {
	margin-left: 30px;
	will-change: filter;
	transition: filter 300ms;
	padding: 1.5em;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
